<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Doctor's Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="./public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./public/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="./public/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <style>
        #sidebars{
            display: none;
        }
        h3{
            color:white;
        }
        #tool,.iconsx,.iconsxs,.iconsxz,.iconsxy{
            cursor: pointer;
        }
        .results tr[visible='false'],
        .no-result{
          display:none;
        }
        
        .results tr[visible='true']{
          display:table-row;
        }
        
        .counter{
          padding:8px; 
          color:#ccc;
        }
        #divname{
            height: 250px;
        }
    </style>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 id="tool">Hi Doctor</h3>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="profile.html"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="index.html"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    {{{body}}}
    <!-- /#wrapper -->

    <!-- jQuery -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="./public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./public/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            //  /*----------*/
            
            //     //iterate through each textboxes and add keyup
            //   //handler to trigger sum event
            //      var sum = 0;
            //         $(calculateSum);
            //      function calculateSum(){
                   
            //         $(".price").each(function() {
            //             var value = $(this).text();
            //             if(!isNaN(value) && value.length != 0) {
            //                 sum += parseFloat(value);
            //             }
            //         });
            //      $('#result').text(sum);       
            //      }
            //  /*----------*/
            $('#tool').click(function () {
               $('#mybar').toggle();
            });
            $('.iconsx').click(function () {
               $('.esconder').toggle();
               if($('.esconder').is(':visible')) {
                   $(this).removeClass('glyphicon glyphicon-plus');  
                    $(this).addClass('glyphicon glyphicon-minus');
                           
                    } 
                    else{
                      
                    $(this).removeClass('glyphicon glyphicon-minus'); 
                      $(this).addClass('glyphicon glyphicon-plus');  
                    } 
            });
             /*----------*/
            $('.iconsxs').click(function () {
               $('.esconders').toggle();
               if($('.esconders').is(':visible')) {
                   $(this).removeClass('glyphicon glyphicon-plus');  
                    $(this).addClass('glyphicon glyphicon-minus');
                           
                    } 
                    else{
                      
                    $(this).removeClass('glyphicon glyphicon-minus'); 
                      $(this).addClass('glyphicon glyphicon-plus');  
                    } 
            });
             /*----------*/
            $('.iconsxz').click(function () {
               $('.esconderz').toggle();
               if($('.esconderz').is(':visible')) {
                   $(this).removeClass('glyphicon glyphicon-plus');  
                    $(this).addClass('glyphicon glyphicon-minus');
                           
                    } 
                    else{
                      
                    $(this).removeClass('glyphicon glyphicon-minus'); 
                      $(this).addClass('glyphicon glyphicon-plus');  
                    } 
            });
            /*----------*/
            $('.iconsxy').click(function () {
               $('.escondery').toggle();
               if($('.escondery').is(':visible')) {
                   $(this).removeClass('glyphicon glyphicon-plus');  
                    $(this).addClass('glyphicon glyphicon-minus');
                           
                    } 
                    else{
                      
                    $(this).removeClass('glyphicon glyphicon-minus'); 
                      $(this).addClass('glyphicon glyphicon-plus');  
                    } 
            });
             /*----------*/
             $(".search").keyup(function () {
                var searchTerm = $(".search").val();
                var listItem = $('.results tbody').children('tr');
                var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
                
                  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
                        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                    }
                  });
                    
                  $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
                    $(this).attr('visible','false');
                  });
                
                  $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
                    $(this).attr('visible','true');
                  });
                
                  var jobCount = $('.results tbody tr[visible="true"]').length;
                    $('.counter').text(jobCount + ' patients');
                
                  if(jobCount == '0') {$('.no-result').show();}
                    else {$('.no-result').hide();}
            });
             /*----------*/
                var searchTerm = $(".search").val();
                var listItem = $('.results tbody').children('tr');
                var searchSplit = searchTerm.replace(/ /g, "'):containsi('");
                
                  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
                        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                    }
                  });
                    
                  $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
                    $(this).attr('visible','false');
                  });
                
                  $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
                    $(this).attr('visible','true');
                  });
                
                  var jobCount = $('.results tbody tr[visible="true"]').length;
                    $('.counters').text(jobCount + ' patients');
             /*----------*/
                function calculateSum() {
                    var sum = 0;
                    $(".price").each(function() {
                        var value = parseFloat($(this).text());
                        if(!isNaN(value)) {
                            sum += value;
                        }
                    });
                    return sum;
                }
                
                $("#sumatoria").text(calculateSum());                
        });
    </script>
    <!-- Morris Charts JavaScript -->
    <script src="./public/js/plugins/morris/raphael.min.js"></script>
    <script src="./public/js/plugins/morris/morris.min.js"></script>
    <script src="./public/js/plugins/morris/morris-data.js"></script>

</body>

</html>
