<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Doctor's office</title>

    <!-- Bootstrap Core CSS -->
    <link href="./public/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Custom CSS -->
    <link href="./public/css/half-slider.css" rel="stylesheet">
    <link href="./public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   
   !-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   
    <style>
    #mynav{
         background-color: #28AE7B;
    }
     #mynav a{
         color: white;
        
     }
    #mynav a:link {
        color: white;
    }
    /* visited link */
   
    /* mouse over link */
    #mynav a:hover {
        color: black;
    }
    /* selected link */
    a:active {
        color: #0000FF;
    }
    #login{
        text-align: right;
    }
    #doctor{
        border-style: solid;
        border-color: green;
        border-width: 1px;
        
    }
    #boxi{
        border-style: solid;
        border-color: blue;
        border-width: 1px;
        
    }
    #heart{
        border-style: solid;
        border-color: red;
        border-width: 1px;
        
    }
    h4{
        color: #28AE7B;
    }
    .test{
        font-style: italic;
    }
    #square{
        background-color: #ededed;
    }
    #mylogin{
        background-color: #28AE7B;
        opacity: .9;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 100;
        height: 400px;
        margin-top: -200px;
        width: 600px;
        margin-left: -300px;
        display: none;
    }
    #youlogin{
        position:absolute;
        left: 15%;
        top: 35%;
    }
    .texto{
        width:200%;
    }
    </style>
    <script type="text/javascript">
$(document).ready(function() {
   
    $("#cancel").click(function(){
        $("#mylogin").hide();
    });
    $("#login").click(function(){
        $("#mylogin").toggle();
    });
    $("#ok").click(function(){
        var user = $("#username").val();
        var pass = $("#password").val();
        var href = "admin.html";
        if(user === "doctor" && pass==="admin"){
            window.location.replace(href);
        }
    });
   $('.boxes').mouseenter(function() {
        $(this).animate({
            'marginTop' : "-=30px"
        })
    }).mouseleave(function(){
        $(this).animate({
            'marginTop' : "+=30px"
        })
    });
    $(".para").mouseenter(function(){
       $(this).animate({fontSize: '2em'}, "slow"); 
    }).mouseleave(function(){
        $(this).animate({fontSize: '1em'}, "slow"); 
    });
    $(".paras").mouseenter(function(){
       $(this).animate({fontSize: '2em'}, "slow"); 
    }).mouseleave(function(){
        $(this).animate({fontSize: '1em'}, "slow"); 
    });
    
});
</script>

<link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

    <!-- Navigation -->
    <nav id="mynav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Dr.Adkins</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li id="login">
                        <a href="#">Log In</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://addvalueconsultancy.com/img/picture3.jpg');"></div>
                <div class="carousel-caption">
                    
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://xolmedrcm.com/wp-content/uploads/2013/01/medical-billing-banner.jpg');"></div>
                <div class="carousel-caption">
                    
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://deltamultimediaservices.com/wp-content/uploads/2014/10/Medical-Banner.jpg');"></div>
                <div class="carousel-caption">
                    
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    
    <div class="col-md-2 visilble-md pull-right">
        <br><br>
        <div><p>Address: 804 Northwood Park Dr <br>Valdosta, Georgia 31602 <br><i class="glyphicon glyphicon-earphone"></i>Tel: +1 229-249-7888<br><i class="glyphicon glyphicon-envelope"></i> dradkins@gmail.com</p></div>
   </div> 
   <div id="mylogin">
       <div id="youlogin">
            <input id="username" type="text" class="form-control texto" placeholder="Username" aria-describedby="basic-addon1"><br><br>
              <input id="password" type="password" class="form-control texto" placeholder="Password" aria-describedby="basic-addon1"><br><br>
               <button id="ok" class="btn btn-default" >Log in</button>
               <button id="cancel" class="btn btn-default">Cancel </button>
          
       </div>
   </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>About Us</h1>
                <p class="para">In compliance with the Georgia Patient Consumer and Awareness Act, we would like to inform you that our clinic employs MD's and Physicians Assistants. You have the right to inquire as to the licensure of anyone in our office, and we are glad to answer any questions you may have.</p>
            </div>
        </div>
        <hr>
        
        
        <br>
        <div class="col-lg-3 boxes" id="boxi">
            <center><span class="fa-stack fa-4x" >
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <hr>
                    <p class='paras'>We are a walk in clinic. No appt necessary. We do not close for lunch.Our goal is to get you in and out in a timely and friendly manner.</p></center>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3 boxes" id="doctor">
            <center>
                <span class="fa-stack fa-4x" >
                        <i class="fa fa-circle fa-stack-2x text-success"></i>
                        <i class="fa fa-user-md fa-stack-1x fa-inverse"></i>
                </span>
                <hr>
                <p class='paras'>In compliance with the Georgia Patient Consumer and Awareness Act, we would like to inform you that our clinic employs MD's and Physicians Assistants. You have the right to inquire as to the licensure of anyone in our office, and we are glad to answer any questions you may have.</p>
             </center>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3 boxes"  id="heart">
           <center><span class="fa-stack fa-4x" >
                        <i class="fa fa-circle fa-stack-2x text-danger" ></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse" ></i>
                   </span>
                   <hr>
                   <p class='paras'>We are IN NETWORK with most insurance companies, including BC/BS.We do not accept Medicaid.</p></center>
        </div>
    </div>
    <br><br><br>
    <div class="col-lg-12" id="square">
        <br>
        <div class="container">
            <div class="col-lg-3">
                <img class ="img-responsive" src=./public/img/01.jpg>
                <center><h4>Chiropractor</h4></center>
            </div>
            <div class="col-lg-3">
                <img class ="img-responsive" src=./public/img/02.jpg>
                <center><h4>Radiologist</h4></center>
            </div>
            <div class="col-lg-3">
                <img class ="img-responsive" src=./public/img/03.jpg>
                <center><h4>Director</h4></center>
            </div>
            <div class="col-lg-3">
                <img class ="img-responsive" src=./public/img/04.jpg>
                <center><h4>Nurse</h4></center>
            </div>
        </div>
    </div>
    <br><hr><br>
    <div class="col-lg-3">
    </div>
    
    <div class="col-lg-3">
        <br><br>
        <h4>Testimonials</h4>
        <p class="test">Best doctor experience ever. I have 2 kids (7 and 4) and we always go to the pediatric office across the street from parrot. I dread going there as it is not very clean and the wait is always crazy (up to 3 1/2 hours). We are military so this was the primary our insurance chose. My daughter was running a fever and on a recommendation, we went to parrot instead. It was amazing."<br>-Melissa Mckettrick</p>
    </div>
    
    <footer>
            
        <div class="col-lg-12">
            <div class="container">
                <br>
                <center><p>Copyright &copy; Dr.Adkins</p></center>
            </div>
        </div>
            <!-- /.row -->
     </footer>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="./public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./public/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>
</html>
