<div id="page-wrapper">
	<div class="container-fluid">
    	<!-- Page Heading -->
        <div class="row">
        	<div class="col-lg-12">
            	<h1 class="page-header">
                           My Profile
                </h1>
            </div>
        </div>
        <!-- /.row -->                
        <div class="col-lg-12">
        	<div class="panel panel-default">
            	<div  id="ppanel" class="panel-heading">
                	<h3 class="panel-title"><i class="fa fa-user"></i> Profile</h3>
                </div>
				<div class="panel-body">
					<div class="col-md-2">
						<img class="img-responsive img-circle" src=./public/img/03.jpg>
					</div>
					<div class="col-md-4">
						<div class="list-group">
							<a id="name" class="list-group-item">Name</a>
							<div id="myname" ><br><center>John Smith </center><br></div>
							<a id="age" class="list-group-item">Age</a>
							<div id="myage" ><br><center>36 </center><br></div>
							<a id="sex" class="list-group-item">Sex</a>
							<div id="mysex" ><br><center>Male</center><br></div>
							<a id="bday" class="list-group-item">Birthday</a>
							<div id="mybday" ><br><center>04/24/1988</center><br></div>
							<a id="phone" class="list-group-item">Phone number</a>
							<div id="myphone" ><br><center>229-460-98-75</center><br></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>